[Unit]
Description=SSH Tarpit
Requires=network-online.target

[Service]
Restart=always
RestartSec=30sec

DynamicUser=true

KillSignal=SIGTERM

StartLimitInterval=5min
StartLimitBurst=4

ExecStart={{ sshtrap_start_command|default('sshtrap') }}

StandardOutput=journal
StandardError=journal
StandardInput=null

NoNewPrivileges=true

PrivateTmp=true
PrivateDevices=true

DeviceAllow=/dev/null
DevicePolicy=strict

ProtectSystem=strict
ProtectHome=tmpfs
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
MemoryDenyWriteExecute=true

SystemCallArchitectures=native
SystemCallFilter=~@mount

MemoryAccounting=true
MemoryLimit=16M
LimitNOFILE=4096
LimitNPROC=64

CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

ReadOnlyPaths={{ sshtrap_binary }}

[Install]
WantedBy=multi-user.target
